.registerForm {
  max-width: 500px;
  margin: 100px auto;
  padding: 2rem 2.5rem;
  background-color: #f9f9f9;
  border-radius: 1.25rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 50px; /* Điều chỉnh kích thước */
  height: auto;
}

.title {
  text-align: center; /* Căn giữa tiêu đề */
  margin-bottom: 2rem; /* Khoảng cách dưới tiêu đề */
  font-size: 1.75rem; /* Kích thước tiêu đề */
  font-weight: bold;
  color: #333;
}

.formGroup {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  margin-bottom: 1rem;
}

.label {
  flex : 0 0 10px;
  text-align: left;
  margin-right: 1rem;
  font-weight: 600;
  color: #333;
}

.input {
  flex: 1;
  min-width: 350px;
  margin-bottom: 1.5rem;  
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  background-color: #fff;
  color: black;
}

.input::placeholder {
  color: #888;
}

.input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.button {
  width: 100%;
  padding: 0.85rem;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(135deg, #0056b3, #003f88);
}
